@import "./variables.less";

html {
  max-width: 1400px;
  margin: auto;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Baskervville", serif;
}

h1,
.h1 {
  font-size: 54px;
  letter-spacing: 0em;
  line-height: 1.25em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: @sofia-black;
  padding-bottom: 0.05em;
  border-bottom: 1px solid @sofia-black;
  -webkit-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -ms-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  -o-transition: border-color 0.15s ease-out, color 0.15s ease-out;
  transition: border-color 0.15s ease-out, color 0.15s ease-out;

  &:hover {
    text-decoration: none;
    color: fade(@sofia-black, 65%);
    border-bottom-color: fade(@sofia-black, 15%);
  }
}

button {
  background-color: @sofia-black;
  padding: (@base-unit * 2) (@base-unit * 3);
  border: none;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #fff;
}
